
body{ background-color: #9E788F;}
.colors { color: #4C061D;
          color: #E3E3E3;
          color: #9E788F;
          color: #56693A;
          color:#525B48
  

}

.jumbotron{ background-image: url(../imgs/flourite.jpg);
            background-repeat: no-repeat  ;
            background-size: cover;
            margin-top: 15px;
            color:#E3E3E3;
            font-family: 'Berkshire Swash', cursive;

}



.accordion1 {
    background-color: #525b48;
    color:#E3E3E3;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: 'Berkshire Swash', cursive;
    transition: 0.4s;
  }
  
   .accordion1:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#525B48;
    color: white;
    text-align: center;
    font-family: 'Unica One', cursive;
   
    
 }

 a { color:#9E788F;
    


 }

 body {font-family:'berkshire swash';}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #9E788F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #9E788F;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.contact {background-color: #000000;
          margin-left: 500px;
          margin-right: 500px;
          margin-top: 50px;
          font-size: 50px;
          color: #E3E3E3;
          position: relative;
          text-align: center;

          
}    

.pictures { justify-content:right;

}

.column {
  float: left;
  width: 33.33%;
  padding: 30px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 500px;
height: 700px;
object-fit: contain;
margin: 50px;
padding-top: 25px;
}

div h2{ background-color: #E3E3E3;
        text-align: center;
        margin-top: 50px;
}

#wrapper{
  
}